@use 'sass:list';
@use 'sass:math';
@use 'sass:meta';

/**
 * Breakpoint mixins.
 *
 * @include new-breakpoint(name, start end|false[, media]);
 * Start values can reference the name of an earlier breakpoint.
 * Media can be any media type or feature; all is the default.
 *
 * @include bp(name); is an alias for @include breakpoint(name);
 *
 * Each definition creates three breakpoint variants:
 * name -> min-width and max-width
 * name-and-up -> only min-width
 * name-and-down -> only max-width
 */

$bps: ();

@mixin new-breakpoint($name, $values, $media: false) {
    $v1: list.nth($values, 1);
    $v2: list.nth($values, 2);

    @if meta.type-of($v1) == 'string' {
        $v1: get-breakpoint(max, $v1);
    }

    $bps: list.append($bps, ('#{$name}', $v1 $v2 $media)) !global;
    $bps: list.append($bps, ('#{$name}-and-up', $v1 false $media)) !global;
    $bps: list.append($bps, ('#{$name}-and-down', false $v2 $media)) !global;
}

@function get-breakpoint($point, $name) {
    @each $bp in $bps {
        $bp-name: list.nth($bp, 1);

        @if $name == $bp-name {
            $v: list.nth($bp, 2);

            @if $point == 'min' {
                @return list.nth($v, 1);
            } @else if $point == 'max' {
                @return list.nth($v, 2);
            } @else if $point == 'media' {
                @return list.nth($v, 3);
            }
        }
    }

    @warn 'Not a defined breakpoint: "#{$name}"';
    @return false;
}

@mixin bp-mediaquery($min, $max, $media: false) {
    @if $media {
        $media: only #{$media};
    } @else {
        $media: all;
    }

    @if $min {
        @if $min * 0 == $min {
            $min: false;
        } @else if math.unit($min) == 'px' {
            $min: $min + 1px;
        } @else if math.unit($min) == 'em' {
            $min: $min + 0.0625em;
        }
    }

    @if $min and $max {
        @media #{$media} and (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $min and $max == false {
        @media #{$media} and (min-width: $min) {
            @content;
        }
    } @else if $max and $min == false {
        @media #{$media} and (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin bp($name) {
    @include breakpoint($name);
}

@mixin breakpoint($name) {
    @include bp-mediaquery(
        get-breakpoint(min, $name),
        get-breakpoint(max, $name),
        get-breakpoint(media, $name)
    ) {
        @content;
    }
}

@include new-breakpoint(phone, 0 768px);
@include new-breakpoint(tablet, phone 992px);
@include new-breakpoint(desktop, tablet 1200px);
@include new-breakpoint(large-desktop, desktop false);
