// Bootstrap container overrides
$container-max-widths: (
    sm: 540px,
    md: 760px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    3xl: 1530px,
);

// Bootstrap breakpoint overrides
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    3xl: 1600px,
);

// Bootstrap typography overrides
$font-sans-serif:
    system-ui,
    -apple-system,
    'Segoe UI',
    roboto,
    'Helvetica Neue',
    arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
$body-font-family: arial, orbitron, 'Exo 2', michroma, $font-sans-serif;
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-text-align: left;
